.collapse-row.collapsed + tr {
    display: none;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

/* Scrollable Table */
.my-custom-scrollbar {
    position: relative;
    height: 00px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}


.your-results {
    outline: 2px solid black;
}


.navbar-fixed-left {
    width: auto;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}

.btn {
    white-space: normal !important;
    /*max-width:200px;*/
}

/* cut off long headers in the table */
.result_table_col {
    min-width: 130px !important;
    max-width: 250px;
    word-break: break-word;
    word-wrap: break-word !important;

}
