{% extends 'base.html' %}
{% block navbar %}
    {% include 'courses/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
    <table id="masteryTable"></table>

    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>


        $(function () {
            let $masteryTable = $('#masteryTable');

            let grades = {{ grades|tojson|safe }};
            let outcomes = {{ outcomes|tojson|safe }};
             let base_url = "{{ url_for('course.detail', course_id=1, user_id=1) }}"

            makeMasteryTable(grades,  outcomes, $masteryTable);
        })


    </script>


{% endblock %}
