{% extends 'base.html' %}
{% block navbar %}
    {% include 'courses/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <table id="outcomesTable"></table>

    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        const $courseTable = $('#courseTable');

        $(function () {
            let alignments = {{ alignments|tojson|safe }};
            let grades = {{ grades|tojson|safe }};
            let outcomes = {{ outcomes|tojson|safe }};
             let drop_date = "2020-05-01";
             let base_url = "{{ url_for('course.detail', course_id=1, user_id=1) }}"
             console.log(base_url);
            makeMasteryTable(grades, alignments, outcomes, drop_date);
        })


    </script>


{% endblock %}
