{% extends 'base.html' %}
{% block navbar %}
{% include 'courses/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {#        <table id="outcomesTable"></table>#}
        <table data-toggle="table"
               data-height="600"
               data-search="true"
               data-show-search-clear-button="true"
               data-filter-control="true"
               data-show-export="true"
               data-export-types="['csv']"
        >
            <thead>

            <tr>
                <th data-width="12" data-width-unit="em" data-sortable="true">
                    Name
                </th>
                <th data-sortable="true"  data-filter-control="select" data-width="100">Grade</th>
                <th data-sortable="true" data-width="100">Email</th>
                {% for outcome in outcomes %}
                    {% if outcome.display_name %}
                        <th data-sortable="true"
                            data-align="center">
                            <div class="text-wrap"
                                 style="width: 20rem;">
                                {{ outcome.display_name }}
                            </div>
                        </th>
                    {% else %}
                        <th data-sortable="true"
                            data-align="center">
                            <div class="text-wrap"
                                 style="width: 20rem;">
                                {{ outcome.title }}
                            </div>

                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            {% for student in users %}
                {% set grade_list =  grades|selectattr('user_id', 'equalto', student.user.id)|list %}
                {% if grade_list %}
                    {% set grade = grade_list|first %}
                {% else %}
                    {% set grade = {'grade': 'n/a'} %}
                {% endif %}
                <tr>
                    <td>
                        <a href="{{ url_for('course.detail', course_id=student.course_id, user_id=student.user.id) }}">{{ student.user.name }}</a>
                    </td>
                    <td>{{ grade.grade }}</td>
                    <td>{{ student.user.login_id }}</td>
                    {% set outcome_student = outcome_averages|selectattr('user_id', 'equalto', student.user.id)|list %}
                    {% if outcome_student %}
                        {% set outcome_student = outcome_student|first %}
                        {% set outcome_avgs = outcome_student['outcome_avgs']  %}
                    {% else %}
                        {% set outcome_avgs = [] %}
                    {% endif %}
                    {% for outcome in outcomes %}
                        {% set avg = outcome_avgs|selectattr('outcome_id', 'equalto', outcome.id)|list %}
                        {% if avg %}
                            {% set avg = avg|first %}
                        {% else %}
                            {% set avg = '' %}
                        {% endif %}
                        <td>{{avg['avg']}}</td>

                    {% endfor %}
                </tr>

            {% endfor %}
        </table>

    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        var $courseTable = $('#courseTable');


    </script>


{% endblock %}
