{% extends 'base.html' %}
{% block navbar %}
    {% include 'courses/navbar.html' %}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="card mt-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">
                            {{ user.name }}
                        </h3>
                        <h5>
                            {{ course.name }}
                        </h5>
                    </div>
                    <div class="col-6">
                        <h3 class="float-right align-middle">
                            Current Letter Grade: {{ grade.grade }}

                        </h3>
                    </div>

                </div>
            </div>

            <div class="card-body">
                <button href="#"
                        class="btn btn-secondary btn-sm dropdown-toggle"
                        data-toggle="collapse"
                        data-target="#collapseExample"
                        aria-expanded="false"
                        aria-controls="collapseExample">
                    Explanation of Grades
                </button>
            </div>
            <div class="collapse"
                 id="collapseExample">
                <div class="card-body p-3">
                    <p>The following table is how your outcome
                        Averages are converted into a Letter Grade.
                    </p>
                    <p class="font-weight-light">
                        Please note that both Criteria 1 and 2 must
                        be met to earn that letter Grade.
                    </p>
                    <table class="table table-bordered table-sm grade-table">
                        <thead class="text-center align-text-top">
                        <tr>
                            <th>Letter Grade</th>
                            <th>
                                Criteria 1 <br>
                                <div class="font-weight-light">75%
                                    of Outcome Averages Equal to or
                                    Above:
                                </div>
                            </th>
                            <th>
                                Criteria 2 <br>
                                <div class="font-weight-light">No
                                    Outcome Average Below:
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for level in calculation_dict %}
                            {% if level.grade == grade.grade %}
                                <tr class="table-success">
                                    {% else %}
                                <tr>
                            {% endif %}
                        <td>{{ level.grade }}</td>
                        <td>{{ level.threshold }}</td>
                        <td>{{ level.min_score }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="your-results">
                            <th>Your results</th>
                            <td>
                                <strong>{{ grade.threshold }}</strong>
                            </td>
                            <td>
                                <strong>{{ grade.min_score }}</strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        {#                            outcome averages table #}
        <div class="mt-3">
            <table id="table-{{ course.id }}"></table>
        </div>
        {#                            end outcome averages table    #}

    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


    <script type="text/javascript">


        $(function () {
            var alignments = {{ alignments|tojson|safe }};
            var drop_date = "{{ cut_off_date }}";
            console.log("***")
            console.log(drop_date);
            var courses = groupBy(alignments, 'course');
            var course_ids = Object.keys(courses);

            course_ids.forEach(function (course_id, index) {
                let $el = $(`#table-${course_id}`);
                makeOutcomesTablev2(courses[course_id], $el, drop_date);
            });


        });

        function makeGroup(a, key) {
            return _.groupBy(a, key);
        }

        function returnOutcomeID(o) {
            return o.outcome['id'];
        }


    </script>
{% endblock %}
