{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <table data-toggle="table"
               data-height="600"
               data-search="true"
               data-show-search-clear-button="true"
               data-show-export="true"
               data-export-types="['csv']"
{#               data-fixed-columns="true"#}
        >
            <thead>

            <tr>
                <th data-width="12" data-width-unit="em" data-sortable="true">Name</th>
                <th data-sortable="true" data-width="100">Grade</th>
                {% for outcome in outcomes %}
                    {% if outcome.display_name %}
                        <th data-sortable="true">
                            <div class="text-wrap"
                                 style="width: 10rem;">
                                {{ outcome.display_name }}
                            </div>
                        </th>
                    {% else %}
                        <th data-sortable="true">
                            <div class="text-wrap"
                                 style="width: 8rem;">
                                {{ outcome.title }}
                            </div>

                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            {% for student in students %}
                <tr>
                    <td>
                        <a href="{{ url_for('course_detail', course_id=student.course_id, user_id=student.user.id) }}">{{ student.user.name }}</a>
                    </td>
                    <td>{{ student.grade }}</td>
                    {% set student_avgs = outcome_averages[student.user.id] %}
                    {% for outcome in outcomes %}
                        <td>{{ student_avgs[outcome.id] }}</td>
                    {% endfor %}
                </tr>

            {% endfor %}
        </table>

    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        var $courseTable = $('#courseTable');



    </script>


{% endblock %}