{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>dTech Student Outcome Summary</h2>
        <p>Data last updated: {{ student_object.timestamp|strftime }}</p>
        {#        {{ student_object.courses }}#}
        <div id="accordion">

            {% for course in student_object.courses %}
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse"
                           href="#collapse{{ loop.index }}">
                            {% set course_name = course.name.split(' - ') %}
                            {{ course_name[0] }}: {{ course.grade }}
                        </a>
                    </div>

                    <div id="collapse{{ loop.index }}" class="collapse hide"
                         data-parent="#accordion">


                        <div class="card-body">
                            <p>You earned a {{ course.grade }} because 75% of your
                            Outcome Averages were above
                            a {{ course.threshold }} and your Lowest Outcome
                                Average was above a {{ course.min_score }}</p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Outcome</th>
                                    <th scope="col">Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for outcome in course.outcomes %}
                                    <tr>
                                        {% if outcome.outcome_display_name %}
                                            <th scope="row">{{ outcome.outcome_display_name }}</th>
                                        {% else %}
                                            <th scope="row">{{ outcome.title }}</th>
                                        {% endif %}
                                        <td>{{ outcome.outcome_average }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}

