{% extends 'base.html' %}
{% block content %}

    <nav class="navbar navbar-light bg-light sticky-top">
        <span class="navbar-brand mb-0 h1">{{ grades[0].user.name }} </span>
        {% if students|length > 1 %}

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Select Student
                </button>
                <div class="dropdown-menu dropdown-menu-lg-right scrollable-menu"
                     aria-labelledby="dropdownMenuButton">
                    {% for student in students %}
                        <a class="dropdown-item"
                           href="{{ url_for('student_dashboard', user_id=student[0]) }}">{{ student[1] }}</a>
                    {% endfor %}
                </div>
            </div>

        {% endif %}
    </nav>

    <div class="container">
        <p class="mt-2"><small>Data last
            updated: {{ record.created_at|strftime }}</small></p>


        <div class="row" display="flex">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab"
                     role="tablist"
                     aria-orientation="vertical">
                    {% for grade in grades %}
                        {% set course_name = grade.course.name.split(' - ') %}
                        {% if loop.first %}
                            <a class="nav-link active" id="v-pills-home-tab"
                               data-toggle="pill"
                               href="#v-pills-{{ loop.index }}" role="tab"
                               aria-controls="v-pills-{{ loop.index }}"
                               aria-selected="true">{{ course_name[0] }}: {{ grade.grade }}</a>
                        {% else %}
                            <a class="nav-link" id="v-pills-profile-tab"
                               data-toggle="pill"
                               href="#v-pills-{{ loop.index }}" role="tab"
                               aria-controls="v-pills-{{ loop.index }}"
                               aria-selected="false">{{ course_name[0] }}: {{ grade.grade }}</a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    {% for grade in grades %}
                        {% if loop.first %}
                            <div class="tab-pane fade show active"
                                 id="v-pills-{{ loop.index }}"
                                 role="tabpanel"
                                 aria-labelledby="v-pills-{{ loop.index }}">

                        {% else %}
                            <div class="tab-pane fade"
                                 id="v-pills-{{ loop.index }}"
                                 role="tabpanel"
                                 aria-labelledby="v-pills-{{ loop.index }}">
                        {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4"><h3 class="card-title">
                                    Grade: {{ grade.grade }}
                                </h3></div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col">
                                            <strong> Criteria 1 - 75% of Outcome Averages are
                                            Above:</strong> {{ grade.threshold }}
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col"><strong>Criteria 2 - Lowest Outcome
                                            Average:</strong> {{ grade.min_score }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <a href="#" class="card-link"
                               data-toggle="collapse"
                               data-target="#collapseExample-{{ loop.index }}"
                               aria-expanded="false"
                               aria-controls="collapseExample-{{ loop.index }}">Explanation
                                of
                                Grades</a>
                        </div>
                        <div class="collapse"
                             id="collapseExample-{{ loop.index }}">
                            <div class="card-body p-3">
                                <p>The following table is how your outcome
                                    Averages are converted into a Letter Grade.
                                </p>
                                <p class="font-weight-light">
                                    Please note that both Criteria 1 and 2 must
                                    be met to earn that letter Grade.
                                </p>
                                <table class="table table-bordered table-sm">
                                    <tr>
                                        <th>Letter Grade</th>
                                        <th class="text-center">Criteria 1 <br>

                                            <div class="font-weight-light">75% of Outcome Averages Equal to or
                                            Above:</div>
                                        </th>
                                        <th class="text-center">
                                            Criteria 2 <br>

                                            <div class="font-weight-light">No Outcome Average Below:</div>
                                        </th>
                                    </tr>
                                    {% for level in calculation_dict %}
                                        {% if level.grade == grade.grade %}
                                            <tr class="table-success">
                                                {% else %}
                                            <tr>
                                        {% endif %}
                                    <td>{{ level.grade }}</td>
                                    <td>{{ level.threshold }}</td>
                                    <td>{{ level.min_score }}</td>
                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">

                        <div class="card-body">
                            <div class="card-title"><h5>Outcome
                                Averages</h5></div>
                            <table class="table table-fixed">
                                <thead>
                                <tr>
                                    <th scope="col" class="col-9">Outcome</th>
                                    <th scope="col" class="col-3">Outcome
                                        Average
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for outcome_average in grade.outcomes %}
                                    <tr>
                                        {# Use display name if it's available #}
                                        {% if outcome_average.display_name %}
                                            <td scope="row"
                                                class="col-9">{{ outcome_average.display_name }}</td>
                                        {% else %}
                                            <td scope="row"
                                                class="col-9">{{ outcome_average.title }}</td>
                                        {% endif %}
                                        {#                                     Only display the outcome_avg if outcome's have been assessed.#}
                                        {% if outcome_average.outcome_avg > 0 %}
                                            <td class="col-3 text-center">{{ outcome_average.outcome_avg }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}